doctype
html
  head
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"}
    ])
    style(type="text/css"): :stylus
      .circle
        width: 100px
        height: 100px
        border-radius: 50%
        background: #000
        position: absolute
        top: 40%
        left: 40%
        animation: ax 1s infinite linear, ay 1s infinite linear
  body
   h1 hi
   .circle
   +script([
     {name: "easing-fit", version: "dev", path: "index.bundle.min.js"}
   ])
   script(type="module"): include:lsc index.ls
